{% extends 'base.html' %}

{% block conteudo %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Drone</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="" method="POST">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                      <label>Status Drone</label>
                      <select class="form-control select2"  style="width: 100%;" name="status">
                          <option selected="selected">Disponivel</option>
                          <option>Indisponivel</option>
                          <option>Manutenção</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Capacidade</label>
                    <input type="number" class="form-control" id="CapacidadeDrone" placeholder="Capacidade de carga do Drone" name="carga">
                  </div>

                </div>
                <!-- /.card-body -->
                  {% for drone in drones %}
                  <h1>{{ drone }}</h1>>
                  {% endfor %}
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" name="btnsalvar" role="button">Salvar </button>
                </div>
              </form>
            </div>
          </div>
{% endblock %}